.pmain{
    height: 100vh;
    width: 100%;
    background-image: url("https://cdn.create.vista.com/downloads/824131fa-05b6-4579-acc0-d4bd0aacf386_1024.jpeg");
    background-size: 100% 100%;
}

/* https://create.vista.com/templates/big-sale-on-trendy-women's-clothes/id-62a20614079dcd936345a40e/ */